var types = {
  all: '全部', main: '主要', star: '星标'
}
function typeFilter(type) {
  return types[type]
}
function textFilter(str) {
  if (str.length > 12)
    return str.slice(0, 12) + '...'
  else return str
}

function capital(str) {
  var reg=getRegExp("[\ |\~|\`|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\_|\+|\=|\||\\|\[|\]|\{|\}|\;|\:|\"|\'|\,|\<|\.|\>|\/|\?]",'g')
  return str.replace(reg, "")
    .slice(0, 1).toUpperCase()
}


module.exports = {
  textFilter: textFilter,
  capital: capital,
  typeFilter: typeFilter
}