var types = {
  all: '全部', main: '主要', star: '星标'
}
function typeFilter(type) {
  return types[type]
}
function textFilter(str) {
  if (str.length > 12)
    return str.slice(0, 12) + '...'
  else return str
}

function capital(str) {
  var reg=getRegExp("[\ |\~|\`|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\_|\+|\=|\||\\|\[|\]|\{|\}|\;|\:|\"|\'|\,|\<|\.|\>|\/|\?]",'g')
  return str.replace(reg, "")
    .slice(0, 1).toUpperCase()
}

// function listFilter(list, type) {
//   var data = []
//   if (type === 'all') {
//     list.forEach(function (v) {
//       v.data.forEach(function (d) {
//         data.push(d)
//       })
//     })
//   } else {
//     list.forEach(function (v) {
//       if (v.addr === type)
//         v.data.forEach(function (d) {
//           data.push(d)
//         })
//     })
//   }
//   console.log(data);
//   return data
// }

module.exports = {
  textFilter: textFilter,
  capital: capital,
  // listFilter: listFilter,
  typeFilter: typeFilter
}